<header class="header">
  <nav class="nav-header">
    <img
      routerLink="/"
      class="logo-header"
      src="/assets/icons/logo-tema-claro.png"
      alt="Logo Guia Ti"
    />
    <ul class="nav-links-header">
      <!--
      <li>
        <a class="btn-header" [routerLink]="'/plataforma-criador'"
          >Criar Curso</a
        >
      </li>
      <li><a class="btn-header" [routerLink]="'/perfil'">Perfil</a></li> -->
      <li><a class="btn-header" [routerLink]="'/cursos'">Cursos</a></li>
      <li><a class="btn-header" [routerLink]="'/auth/login'">Login</a></li>
      <li>
        <a class="btn-header" [routerLink]="'/auth/cadastro'">Cadastro</a>
      </li>
    </ul>
  </nav>
</header>
<body>
  <h1>Bem-vindo ao GuiaTI</h1>
  <img
    routerLink="/"
    class="img-home"
    src="/assets/imagens/img-home.jpg"
    alt="Imagem demonstrativa de auxilio para estudos"
  />
  <div class="apresentacao-home">
    <h2>Somos seus guias em todos os estágios da sua carreira em tecnologia</h2>
  </div>
</body>
