:root {
  --primary: #06628a;
  --primary-010: #06374e;

  --secondary-light: #ddf8f2;
  --secondary: #019474;
  --secondary-010: #036651;

  --white: #fff;
  --white-010: #f9f9f9;

  --black: #10101a;
  --black-010: #434347;

  --gray: #d5d5db;
  --gray-010: #9b9ba0;

  --red: #c41717;
  --red-010: #8b0909;

  --green:  #28a745;
  --green-010: #218838;


  // extra: #3700b3, #4a00e0
}

