.btn-header{
  color: var(--white);
  text-decoration: none;
  background-color: var(--primary);
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--black-010);
  }

.btn-header:hover {
  background-color: var(--primary-010);
  }
