.header {
  background-color: var(--secondary-light);
  box-shadow: 1px 1px 1px 1px var(--gray);
  border-radius: 5px;

  width: 100%;
  margin: 0px 0px 0px 0px;

}




.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  }


.nav-links-header {
  display: flex;
  list-style: none;
  display: flex;
  gap: 1rem;
}

