.logo-header{
  width: 90px;
  height: 90px;
}

.img-home{
  display: flex;
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.img-auth{
  cursor:pointer
}

.capa-curso{
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}


