<header class="header">
  <nav class="nav-header">
    <img
      routerLink="/"
      class="logo-header"
      src="/assets/icons/logo-tema-escuro.png"
      alt="Logo Guia Ti"
    />
    <ul class="nav-links-header">
      <li><a class="btn btn-header" [routerLink]="'/cursos'">Cursos</a></li>
      <li><a class="btn btn-header" [routerLink]="'/auth/login'">Login</a></li>
      <li>
        <a class="btn btn-header" [routerLink]="'/auth/cadastro'">Cadastro</a>
      </li>
    </ul>
  </nav>
</header>
