<header class="header">
  <nav class="nav-header">
    <img
      routerLink="/"
      class="logo-header nav-links-header"
      src="/assets/icons/logo-tema-claro.png"
      alt="Logo Guia Ti"
    />
    <ul class="nav-links-header">
      <li>
        <a class="btn-header" [routerLink]="'/criador'"
          >Envie seu próprio curso</a
        >
      </li>
    </ul>
  </nav>
</header>
<div class="p-4">
  <h2 class="titulo">Todos os Cursos</h2>

  <input
    [(ngModel)]="filtro"
    class="input-pesquisa"
    placeholder="Pesquisar por título do curso"
  />

  @if(cursosFiltrados.length === 0){
  <div>Nenhum curso encontrado.</div>
  }

  <div class="curso-grid">
    @for (curso of cursosFiltrados; track curso.id) {
    <a [routerLink]="['/cursos', curso.id, 'aulas']">
      <div class="card-curso">
        <img
          src="/assets/imagens/img-curso.jpg"
          alt="Capa do curso"
          class="capa-curso"
        />
        <div class="dados-curso">
          <h3 class="titulo-curso">{{ curso.titulo }}</h3>
          <p class="categoria">{{ curso.categoria }}</p>
          <p class="descricao">{{ curso.descricao }}</p>
        </div>
      </div>
    </a>
    }
  </div>
</div>
