<div class="form-container">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="email" formControlName="email" placeholder="Email" />

      @if(loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
      <div class="error">
        @if(loginForm.get('email')?.errors?.['required']){
        <small> Email é obrigatório. </small>
        } @if(loginForm.get('email')?.errors?.['email']){
        <small> Email inválido. </small>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <input type="password" formControlName="senha" placeholder="Senha" />

      @if(loginForm.get('senha')?.touched && loginForm.get('senha')?.invalid) {
      <div class="error">
        @if(loginForm.get('senha')?.errors?.['required']){
        <small class="error">Senha é obrigatória.</small>
        } @if(loginForm.get('senha')?.errors?.['minlength']){
        <small class="error">Senha precisa ter no mínimo 6 caracteres.</small>
        }
      </div>
      }
    </div>

    <button type="submit" class="btn btn-submit" (click)="onSubmit()">
      Entrar
    </button>

    <div>
      <p>Não possui uma conta?</p>
      <a [routerLink]="'/auth/cadastro'">Cadastre-se aqui</a>
    </div>
  </form>
</div>
